@font-face {
    font-family: My font;
    src: url(font/Poppins-Regular.ttf);
}
body{
    font-family: My font;
}
.container-fluid{
    margin-left: 50px !important;
    margin-right: 50px !important;
    font-family: My font;
}
.center{
    padding-left: 200px !important;
    
    
    
}
.border{
    border: 1px solid gray;
    border-radius: 35px;
    padding: 0px 5px;
}
.main{
    width: 100%;
    height: 470px;
    border-radius: 15px;
    font-family: My font;
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
    display: flex;
    flex-wrap: wrap;
    
}
.head-1{
    font-size: 47px;
    font-weight: 800;
}
.para-1{
    font-size: 16px;
    font-weight: 400;
    font-family: My font;
}
.img-1{
    width: 300px;
    height: 40px;
}
.text-left{
    padding: 60px;
}
a:hover{
    color: grey !important;
    
    transform: scale(0.8);
}
a{
    transition: 0.3s;
}
.main-2{
    text-align: center;
    font-family: My font;
    margin-top: 50px;
}
/* .form{
    border-radius:40px ;
    width: 300px;
    height: 40px;

}

.btn{
    border-radius: 40px !important;
    background-color: black !important;
    color: white !important;
    margin-right: 17px !important;
   

} */
.head-2{
    font-size: 40px;
    font-weight: 800;
}
span{
    font-family: My font;
}
.head-4{
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
}

.main-3{ 
    margin-left: 50px;
    margin-right:50px ;
    margin-top: 50px;
    justify-content: space-between !important;
    display: flex;
    flex-wrap: wrap;
    
}
.head-p{
    font-family: My font;
    margin-left: 50px;
    margin-top: 50px;
}
/* .card-group{
    justify-content: space-between !important;
    
} */
.card-group{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}
.card-body{
    font-family: My font;
}
.cent{
    margin-left: 30px !important;
    margin-right: 30px;
}
.card{
    border: 1px solid gray !important;  
}
.fa-solid{
    color: gold;
}
.fa-regular{
    color: gray;
}
.head-3{
    font-size: 40px;
    font-weight: 800;
    font-family: My font;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.head-5{
    font-size: 30px;
    font-weight: 800;
    font-family: My font;
}

.btn-one{
    border-radius: 35px !important;
    background-color: black;
    color: white;
    padding: 13px 25px;
    border: 0px;

    


}
.btn-two{
    border-radius: 35px !important;
    background-color:white;
    color:black;
    padding: 13px 25px;
    border: 1px solid gray;
    margin-left: 20px;

}
.head-6{
    font-size: 67px;
    font-weight: 600;
    font-family: My font;
}

.cente{
    margin-left: 35px;
    margin-right: 35px;
      
}
.h{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.main-4{
    display: flex !important;
    /* margin-left: 90px;
    margin-right: 90px; */
    font-family: My font;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    
    
    
}
.img-rights{
    padding-left: 100px;
    
}
.end{
    height: 420px;
    margin-top: 50px;
}
@media(max-width:1150px){
    .img-rights{
        padding-left: 0px !important;
    }
    
}
@media(max-width:375px){
    .cente{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
@media(max-width:575px){
    .cent{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
@media(max-width:1150px){
    .main{
        flex-wrap: wrap;
        height: 100vh;
    }
}
@media(max-width:990px){
    .left{
        padding-left: 200px !important;
    }
    .border{ 
        display: none !important; 
        /* visibility: hidden !important;    */
    }
    .navbar-nav{
        text-align: right !important;
    }
}